<div class="calendar">
    <table class="w-100">
        <thead>
            <tr>
                <td><button (click)="previous()"><i class="fa fa-chevron-left"></i></button></td>
                <td (click)="changeMode()" class="calender-title"><span class="month-year">{{calenderTitle}}</span></td>
                <td><button (click)="next()"><i class="fa fa-chevron-right"></i></button></td>
            </tr>
        </thead>
    </table>
    <table>
        <thead>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let dayTitle of titles" class="weekday" [class.weekend]="dayTitle.isWeekend">{{dayTitle.title}}</td>
            </tr>
            <ng-container *ngIf="mode === 1">
                <tr class="days" *ngFor="let row of days">
                    <td [class.today]="day.isToday" *ngFor="let day of row">
                        <div (click)="selectDay(day)" class="day" [class.day-not-in-month]="!day.isDayInMonth">{{day.dayNumber}}</div>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngIf="mode === 2">
                <tr>
                    <td></td>
                </tr>
            </ng-container>
        </tbody>
    </table>


</div>