<div class="l-container box">
    <div class="group-section">
        <h1 class="heading-title">
            <em>Controls</em>
        </h1>
        <div class="flex-container form-elements">
            <div class="fex-item">
                <div class="form-row">
                    <app-input label="Label Text" placeholder="Placeholder Text"></app-input>
                    <app-select-multiple [items]="selectItems" searchable="true" label="Multiple Select" placeholder="Placeholder"></app-select-multiple>
                    <app-select [items]="selectItems" searchable="true" label="Single Select" placeholder="Placeholder"></app-select>
                    <app-datepicker [firstDay]="'st'" label="Single Select" placeholder="Placeholder"></app-datepicker>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>